## import all the dependencies

In [1]:
import pandas as pd
import zipfile
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## unzip the files

In [2]:
zip_file = 'archive.zip'
with zipfile.ZipFile(zip_file, 'r') as zip_ref:
    zip_ref.extractall('extracted_data')

## load the data

In [3]:
df = pd.read_csv('extracted_data/ASR.csv')

In [4]:
pd.set_option('display.max_columns',None)

In [5]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [6]:
df.shape

(128976, 21)

In [7]:
df.nunique()

index                 128808
Order ID              120229
Date                      91
Status                    13
Fulfilment                 2
Sales Channel              2
ship-service-level         2
Category                   9
Size                      11
Courier Status             4
Qty                       10
currency                   1
Amount                  1408
ship-city               8948
ship-state                69
ship-postal-code        9454
ship-country               1
B2B                        2
fulfilled-by               1
New                        0
PendingS                   0
dtype: int64

In [8]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

## droped some unwanted columns

In [9]:
df = df.drop(['New', 'PendingS', 'fulfilled-by', 'index', 'currency','ship-country', 'B2B'], axis=1)

In [10]:
df.shape

(128976, 14)

In [11]:
df.head(2)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,MUMBAI,MAHARASHTRA,400081.0
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128976 non-null  object
 1   Date                128976 non-null  object
 2   Status              128976 non-null  object
 3   Fulfilment          128976 non-null  object
 4   Sales Channel       128976 non-null  object
 5   ship-service-level  128976 non-null  object
 6   Category            128976 non-null  object
 7   Size                128976 non-null  object
 8   Courier Status      128976 non-null  object
 9   Qty                 128976 non-null  int64
 10  Amount              121176 non-null  float64
 11  ship-city           128941 non-null  object
 12  ship-state          128941 non-null  object
 13  ship-postal-code    128941 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 13.8+ MB

## check null and duplicates values

In [13]:
df.isnull().sum()

Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Category                 0
Size                     0
Courier Status           0
Qty                      0
Amount                7800
ship-city               35
ship-state              35
ship-postal-code        35
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(959)

## Order_ID

In [15]:
#403-9386300-6961110
import re
diff_formate = []
pattern = r'^\d{3}-\d{7}-\d{7}$'
for formate in df['Order ID']:
    if not re.match(pattern, formate):
        diff_formate.append(formate)

In [16]:
diff_formate[:5]

['S02-5278980-4327051',
 'S02-9107114-0460608',
 'S02-1006261-5356758',
 'S02-3681731-6111841',
 'S02-1926028-4838217']

In [17]:
len(diff_formate)

124

In [18]:
df = df[~df['Order ID'].isin(diff_formate)]

In [19]:
df['Order ID'] = df['Order ID'].str.replace('-','')
df['Order ID'] = df['Order ID'].astype(int)

In [20]:
df['Order ID'].info()

<class 'pandas.core.series.Series'>
Index: 128852 entries, 0 to 128975
Series name: Order ID
Non-Null Count   Dtype
--------------   -----
128852 non-null  int64
dtypes: int64(1)
memory usage: 2.0 MB

## Date

In [21]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128852 entries, 0 to 128975
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128852 non-null  int64
 1   Date                128852 non-null  datetime64[ns]
 2   Status              128852 non-null  object
 3   Fulfilment          128852 non-null  object
 4   Sales Channel       128852 non-null  object
 5   ship-service-level  128852 non-null  object
 6   Category            128852 non-null  object
 7   Size                128852 non-null  object
 8   Courier Status      128852 non-null  object
 9   Qty                 128852 non-null  int64
 10  Amount              121176 non-null  float64
 11  ship-city           128817 non-null  object
 12  ship-state          128817 non-null  object
 13  ship-postal-code    128817 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 14.7+ MB

In [23]:
df.head(2)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code
0,40580787845731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,MUMBAI,MAHARASHTRA,400081.0
1,17191981511101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0

In [24]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df = df.drop('Date', axis=1)

In [25]:
df.head(2)

,Order ID,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,year,month,day
0,40580787845731545,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,647.62,MUMBAI,MAHARASHTRA,400081.0,2022,4,30
1,17191981511101146,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,2022,4,30

## Status

In [26]:
df.Status.value_counts()

Status
Shipped                          77700
Shipped - Delivered to Buyer     28756
Cancelled                        18333
Shipped - Returned to Seller      1954
Shipped - Picked Up                973
Pending                            658
Pending - Waiting for Pick Up      281
Shipped - Returning to Seller      145
Shipped - Out for Delivery          35
Shipped - Rejected by Buyer         11
Shipped - Lost in Transit            5
Shipped - Damaged                    1
Name: count, dtype: int64

In [27]:
df.Status.unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged'], dtype=object)

In [28]:
status_mapping = {
    'Shipped': 'Shipped',
    'Shipped - Delivered to Buyer': 'Shipped',
    'Shipped - Returned to Seller': 'Shipped',
    'Shipped - Picked Up': 'Shipped',
    'Shipped - Out for Delivery': 'Shipped',
    'Shipped - Returning to Seller': 'Shipped',
    'Shipped - Rejected by Buyer': 'Shipped',
    'Shipped - Lost in Transit': 'Shipped',
    'Shipped - Damaged': 'Shipped',
    'Pending': 'Pending',
    'Pending - Waiting for Pick Up': 'Pending',
    'Cancelled': 'Cancelled'
}

# Apply the mapping to consolidate the statuses
df['Status'] = df['Status'].map(status_mapping)

In [29]:
df.Status.value_counts()

Status
Shipped      109580
Cancelled     18333
Pending         939
Name: count, dtype: int64

## Fulfilment

In [31]:
df['Fulfilment'].value_counts()

Fulfilment
Amazon      89589
Merchant    39263
Name: count, dtype: int64

## Sales Channel

In [33]:
df['Sales Channel'].value_counts()

Sales Channel
Amazon.in    128852
Name: count, dtype: int64

In [35]:
df = df.drop('Sales Channel', axis=1)

## ship-service-level

In [36]:
df['ship-service-level'].value_counts()

ship-service-level
Expedited    88630
Standard     40222
Name: count, dtype: int64